<% if movie.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

    <ul>
      <% movie.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<tr id= "<%= "movie_" + movie.id.to_s %>">
  <td>
    <div id= "<%= "movie_" + movie.id.to_s + "_title" %>" > 
      <%= link_to( movie.title, title_edit_path(movie.id) , remote: true) %>
    </div>
  </td>

  <td>
    <div id= "<%= "movie_" + movie.id.to_s + "_year" %>" > 
      <%= link_to( movie.year, year_edit_path(movie.id) , remote: true) %>
    </div>
  </td>

  <td>
    <div id= "<%= "movie_" + movie.id.to_s + "_director" %>" > 
      <%= link_to( movie.director.name, director_edit_path(movie.id) , remote: true) %>
    </div>
  </td>
  
  <td>
    <div id= "<%= "movie_" + movie.id.to_s + "_description" %>">
      <details>
        <summary>Show description</summary>
        <p><%= movie.description %></p>
        <p> <%= link_to( "Edit", description_edit_path(movie.id) , remote: true) %>  </p>
      </details>
    </div>
  </td>
  
  <td><%= link_to( movie.duration.to_s + " minutes", edit_movie_path(movie.id), id: "movie_" + movie.id.to_s + "_duration" , remote: true)  %> </td>

  <td><%= link_to 'Destroy', movie, method: :delete, remote: true %></td>
</tr>