<%= form_with(model: movie, url: title_update_path(movie.id) , local: false) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id= "<%= "movie_" + movie.id.to_s + "_title" %>" >
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

<% end %>